<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<div class="wrapper">
    <div class="top">
        <div class="title"><h1>My Blog</h1></div>
    </div>
    <div class="content">
        <div class="card">
            <h2>
                {%for blog in blogs:%}
                    {%if blog["id"] == 1:%}
                        {{blog["title"]}}
                    {%endif%}
                {%endfor%}
            </h2>
            <p class="text">
                {%for blog in blogs:%}
                    {%if blog["id"] == 1:%}
                        {{blog["subtitle"]}}
                    {%endif%}
                {%endfor%}
            </p>
            <a href="{{ url_for('blog', id = 1) }}">Read</a>
        </div>
    </div>
    <div class="content">
        <div class="card">
            <h2>
                {%for blog in blogs:%}
                    {%if blog["id"] == 2:%}
                        {{blog["title"]}}
                    {%endif%}
                {%endfor%}
            </h2>
            <p class="text">
                {%for blog in blogs:%}
                    {%if blog["id"] == 2:%}
                        {{blog["subtitle"]}}
                    {%endif%}
                {%endfor%}
            </p>
            <a href="{{ url_for('blog', id = 2) }}">Read</a>
        </div>
    </div>
    <div class="content">
        <div class="card">
            <h2>
                {%for blog in blogs:%}
                    {%if blog["id"] == 3:%}
                        {{blog["title"]}}
                    {%endif%}
                {%endfor%}    
            </h2>
            <p class="text">
                {%for blog in blogs:%}
                    {%if blog["id"] == 2:%}
                        {{blog["subtitle"]}}
                    {%endif%}
                {%endfor%}    
            </p>
            <a href="{{ url_for('blog', id = 3) }}">Read</a>
        </div>
    </div>
</div>
</body>
<footer>
    <p>Made with ♥️ in London.</p>
</footer>
</html>